.hero-spotlight {
  position: relative;
  min-height: 87vh;
  width: 100%;
  display: flex;
  align-items: flex-end;
  padding: 100px 5% 60px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.spotlight-content {
  color: white;
  max-width: 800px;
}

.meta-badges {
  display: flex;
  gap: 15px;
  margin-bottom: 10px;
  font-weight: 600;
  color: #faff02;
}

.anime-title {
  font-size: 3.5rem;
  font-weight: 800;
  margin: 10px 0;
  line-height: 1.1;
  color: #ffffff;
}

.genres-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.genre-tag {
  background: rgba(255, 255, 255, 0.15);
  padding: 4px 12px;
  border-radius: 4px;
  font-size: 1rem;
  backdrop-filter: blur(5px);
}

.synopsis {
  font-size: 1rem;
  line-height: 1.6;
  color: rgba(255, 255, 255, 0.8);
  margin: 20px 0;
  max-width: 700px;
}

.action-buttons {
  display: flex;
  gap: 15px;
  align-items: center;
  margin-top: 30px;
}

.action-buttons {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.btn-watch {
  background: #6366f1;
  color: white;
  padding: 1rem 2rem;
  border-radius: 30px;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: 0.3s;
}

.btn-watch:hover {
  background: #4f46e5;
  transform: translateY(-3px);
}

.btn-add {
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: white;
  padding: 1rem 2rem;
  border-radius: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: 0.3s;
}

.btn-add:hover {
  background: white;
  color: black;
}

.info-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 40px 0;
}

.info-message p {
  font-size: 1.5rem;
  color: #fff;
}

.info-message a {
  font-size: 1rem;
  color: #faff02;
  text-decoration: underline;
  padding: 5px;
}

.anime-trailer-section {
  padding: 60px 0;
  background: #0f0f0f;
}

.section-title {
  font-size: 1.8rem;
  margin-bottom: 30px;
  color: white;
  border-left: 4px solid var(--primary-color);
  padding-left: 15px;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
  background: #000;
}

.video-container iframe {
  position: absolute;
  inset: 0;
  width: 80%;
  height: 80%;
  margin: 0 auto;
}

/* ============ SIMILAR SECTION ====================*/
.similar-section {
  padding-left: 10px;
  padding-right: 10px;
  max-width: 1400px;
  margin: 60px auto;
}

.section-header {
  margin-bottom: 30px;
  border-left: 4px solid #6366f1;
  padding-left: 15px;
}

.section-header h2 {
  color: white;
  font-size: 1.8rem;
  margin: 0;
}

.section-header p {
  color: #888;
  margin: 5px 0 0;
}

.anime-grid p {
  color: #666;
}
